* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.gallery {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    list-style: none;
    width: 100%;
    position: relative;
}

.gallery .image {
    float: left;
    width: 50%;
    padding: 10px;
}

.gallery .image .active {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}