* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
}

.gallery {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    list-style: none;
    width: 100%;
}

.gallery .image {
    float: left;
    width: 50%;
    padding: 10px;
}